{% extends "base.html" %}
{% block content %}

<section class="section" 
             style="padding: 0px 0px 0px 0px; background-color:rgb(0,70,130)">
        <div class="container" style="margin-left: 3px">
            <img src="/static/surrey-logo.svg" width="144px" height="44px">
        </div>
</section>

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Dean & Carlos | Web Development
            </h1>
        </div>
    </div>
</section>

<section class="hero is-info">
    <marquee behavior="scroll" direction="left" id="cityinfo"></marquee>
</section>

<section class="section"
        style="background-image:url(/static/metofficegovuk_heroXLarge.jpeg)">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                <form method="POST">
                    {% csrf_token %}
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            {{form.name}}
                        </div>
                        <div class="control">
                            <button type="submit"  class="button is-info">
                                Add City
                            </button>
                        </div>
                    </div>
                    {% for message in messages %}
                        <div class="notification {{ message.tags }}">
                            <button class="delete"></button>
                            <div>{{ message }}</div>
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
               {% for city_weather in weather_data %} 
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-50x50">
                                <img src="http://openweathermap.org/img/w/{{city_weather.icon}}.png" alt="Image"b 7>
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="title">{{city_weather.city}}</span>
                                    <br>
                                    <span class="subtitle">{{city_weather.temperature}}° C</span>
                                    <br> {{city_weather.description}}
                                </p>
                            </div>
                        </div>
                        <div class="media-right">
                            <a href="{% url 'delete_city' city_weather.city %}">
                               <button class="delete"></button>
                            </a>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

    <hr style="border-top:2px solid #000000; margin-bottom:0px;">
    <footer class="footer has-background-info-light"
            style="padding-top: 20px;padding-bottom: 25px;">
    
    <div class="container">
        <div class="level">
          <div class="level-left">
            <span width="200" class="level-item">
              Styled by &nbsp;<img src="https://bulma.io/images/bulma-logo.png" alt="Bulma Logo" width="60" />
            </span>
          </div>
          <div class="level-right">
            <div class="level-item">
              <div class="content has-text-centered has-text-white-invert">©2022 C.H. Foh</div>
            </div>
          </div>
        </div>
    </div>
    </footer>

{% endblock content %}
